* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

:root {
    --primary-color: #bc0404;
    --secondary-color: #c63636;
    --tertiary-color: #eeeeee;
    --dark-color: #000000;
    --gray-color: #a9a9a9;
    --white-color: #ffffff;
}
/* logo */
.logo img {
    padding: 20px;
    display: block;
    margin: 0 auto;
    width: 160px;
}
/* feature-item */
.feature-item-header {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    background-color: var(--secondary-color);
}

.feature-item-sub {
    display: block;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 32px;
    font-family: monospace;
    line-height: 2;
    letter-spacing: 4px;

    color: var(--tertiary-color);
}

.feature-item-h2-title {
    font-size: 32px;

    position: relative;
    color: var(--white-color);
}


.feature-item-main {
    padding: 16px;
    background-color: var(--dark-color);
}

.feature-item-h3-title {
    font-size: 24px;
    color: var(--white-color);
}

.feature-item-main-text {
    font-size: 16px;
    font-weight: 300;
    color: var(--white-color);
}

.feature-item-image {
    position: relative;
}

.feature-item-image img {
    width: 100%;
    vertical-align: bottom;
}

.feature-item-image i {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 60px;
    color: var(--primary-color);
}

.feature-item-footer {
    background-color: var(--tertiary-color);
    padding: 10px 20px;
}

.feature-item-caption {
    color: var(--secondary-color);
    position: relative;

    padding-bottom: 4px;
}

.feature-item-caption::after {
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    width: 50%;
    height: 2px;
    top: 10px;
    left: 180px;
}

.feature-item-h4-title {
    display: inline-block;
    padding: 4px 8px;
    color: var(--white-color);
    background-color: var(--dark-color);
    margin-bottom: 4px;
}

.feature-item-description {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-color);
    padding-left: 1rem;
    margin-bottom: 8px;

    position: relative;
}

.feature-item-description::before {
    content: "";

    width: 2px;
    height: 2px;

    background-color: var(--primary-color);
    position: absolute;
    top: 8px;
    left: 8px;
}

@media screen and (min-width: 992px) {
    .feature-group {
        max-width: 960px;
        margin: 0 auto;
    }

    .feature-item {
        position: relative;
        margin-bottom: 150px;
    }

    .feature-item-header {
        width: 33.33333%;
        position: relative;
        padding: 8px 0;
        z-index: 1;
    }
    .feature-item:nth-of-type(even) .feature-item-header {
        flex-direction: row-reverse;
    }
    .feature-item:nth-of-type(even) .feature-item-header {
        margin-left: 66.6666%;
    }
    .feature-item-h2-title {
        font-size: 48px;
        padding: 0 8px;
        letter-spacing: 4px;
    }
    .feature-item-sub {
        font-size: 60px;
        letter-spacing: 0px;
        line-height: 1;
    }
    .feature-item-main {
        position: relative;
        width: 33.33333%;
        height: 250px;
        margin-bottom: 120px;

        padding-bottom: 40px;
        z-index: 2;
    }

    .feature-item:nth-of-type(even) .feature-item-main {
        margin-left: 66.6666%;
    }

    .feature-item-image {
        width: 66.6666%;
        position: absolute;
        top: 88px;
        left: 190px;

        z-index: 1;
    }

    .feature-item-image-shadow {
        width: 440px;
        height: 290px;
        background-color: var(--tertiary-color);
        position: absolute;
        top: 20px;
        right: 0;

        z-index: 0;
    }

    .feature-item:nth-of-type(even) .feature-item-image-shadow {
        top: 36px;
        right: 120px;
        z-index: 0;
    }

    .feature-item-image i {
        top: 50%;
        left: 100%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    .feature-item:nth-of-type(even) .feature-item-image i {
        left: 0;
    }

    .feature-item-footer {
        position: relative;
        width: 66.6666%;
        margin-left: 50px;
        z-index: 2;
    }

    .feature-item:nth-of-type(even) .feature-item-footer {
        margin-left: 33.3333%;
    }

    .feature-item-caption::after {
        width: 70%;
    }
}